{
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "all",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-blade", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
